<!DOCTYPE html>
<html>

  <head>
    <title>Thach Pham Blog</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="./public/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="./public/css/style.css" />
  </head>

  <body>
    <div id="container">
      <div id="menu">
        <ul>
          <li>
            <a href="#">Trang chủ</a>
          </li>
          <li>
            <a href="#">Dịch vụ</a>
            <ul class="sub-menu">
              <li>
                <a href="#">Wordpress</a>
              </li>
              <li>
                <a href="#">Hosting</a>
              </li>
              <li>
                <a href="#">SEO</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#">Sản Phẩm</a>
          </li>
          <li>
            <a href="#">Tin tức</a>
          </li>
          <li>
            <a href="#">Diễn đàn</a>
          </li>
          <li>
            <a href="#">Liên hệ</a>
          </li>
        </ul>
      </div>
      <!-- #menu -->
      <div id="content">
        <div id="header">
          <div id="logo">
            <img src="/images/tplogo2014.png" alt="Thach Pham Blog">
          </div>
          <div id="slogan">
            <p>Series học CSS cơ bản cho người mới bắt đầu.</p>
          </div>
        </div>
        <!-- #header -->
        <div class="call-to-action">
          <h3>Bạn sẽ được học những gì?</h3>
          <p>Series này sẽ cung cấp những kiến thức cơ bản để bạn tự thiết kế giao diện website với HTML và CSS.</p>
        </div>
        <!-- .call-to-action -->
        <div class="row" id="intro">
          <div id="box1" class="col">
            <h2>Lorem Ipsum is simply dummy text</h2>
            <img src="/images/css-icon.png" alt="CSS ICon">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
              industry's
              standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it
              to
              make a type specimen book. It has survived not only five centuries, but also the leap into electronic
              typesetting,
              remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets
              containing
              Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including
              versions
              of Lorem Ipsum.</p>
          </div>
          <div id="box2" class="col">
            <h2>Lorem Ipsum is simply dummy text</h2>
            <img src="images\url-icon.png" alt="CSS ICon">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
              industry's
              standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it
              to
              make a type specimen book. It has survived not only five centuries, but also the leap into electronic
              typesetting,
              remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets
              containing
              Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including
              versions
              of Lorem Ipsum.</p>
          </div>
          <div id="box3" class="col">
            <h2>Lorem Ipsum is simply dummy text</h2>
            <img src="images\html-icon.png" alt="CSS ICon">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
              industry's
              standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it
              to
              make a type specimen book. It has survived not only five centuries, but also the leap into electronic
              typesetting,
              remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets
              containing
              Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including
              versions
              of Lorem Ipsum.</p>
          </div>
        </div>
        <!-- .row -->
        <div id="footer">
          <hr>
          <p>Copyright &COPY; 2015 - Series học HTML, CSS cơ bản</p>
        </div>
      </div>
      <!-- #content -->
    </div>
    <!-- #container -->
  </body>

</html>